body, html {
    height: 100%;
    margin: 0;
    font-family: sofia-pro, sans-serif;
    background-color: #333;
    color: whitesmoke;
 }
  
.bg {
    background-image: url("../images/lion.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
 * {
    box-sizing: border-box;
  }
.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.fpp{
    text-align: center;
    margin:50px 0 ;
}  

.wp{
    height: 110vh;
    background: rgb(223, 222, 222);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: center;
    padding: 50px 80px;
}

.wp1{
    height: 80vh;
    background: #333;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 80px;
}

.wp2{
    height: 100vh;
    background: rgb(223, 222, 222);
    color: black;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 80px;
}



